@use 'src/styles/_colors.scss' as *;

.testimonials-page {
  .testimonials-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 80px 0;
  }

  .contact-section {
    background: #0d080c;
  }
}

@media screen and (max-width: 1100px) {
  .testimonials-page {
    .testimonials-wrapper {
      flex-direction: column;
    }
  }
}