@use 'src/styles/_colors.scss' as *;

.testimonials-page {
  .testimonials-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(50% - 8px), 1fr));
    gap: 16px 0;
    margin: 80px 0;
  }

  .contact-section {
    background: #0d080c;
  }
}

@media screen and (max-width: 1000px) {
  .testimonials-page {
    .testimonials-wrapper {
      display: flex;
      flex-direction: column;
    }
  }
}