@use '../../../styles/colors' as *;

$big-break: 1300px;
$first-break: 1100px;

.home-projects {
  position: relative;
  padding-bottom: 30px;
  .project-item {
    position: relative;
    flex: 1 1 30%;
    flex: none;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    margin: 0 10px;
    .title {
      text-align: center;
      color: #ebabff;
      font-weight: 500;
      text-transform: uppercase;
    }
    .numbers {
      margin: 80px 0 60px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      align-items: start;
      gap: 12px;
      .number-item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        .additional-text {
          position: absolute;
          max-width: 240px;
          p {
            width: 100%;
            color: #de82ff;
            font-family: 'Caveat', sans-serif;
            font-size: 22px;
            line-height: 28px;
            text-align: left;
          }
          .purple-arrow {
            width: 40px;
            position: absolute;
            bottom: -50px;
            left: 70px;
            transform: rotate(-30deg);
            img {
              width: 100%;
            }
          }
          .inverted-arrow {
            transform: rotate(20deg) scale(-1, 1);
            left: unset;
            right: 100px;
          }
        }
        .additional-text-on-bottom {
          width: 120%;
          bottom: -30px;
          left: auto;
          right: auto;
          p {
            text-align: center;
          }
        }
        .additional-text-top-left {
          top: -60px;
          left: -5px;
        }
        .additional-text-top-right {
          top: -60px;
          right: -50px;
        }
        &-number {
          font-size: 38px;
          font-weight: 800;
          color: #fcf0ff;
        }
        &-text {
          color: #bcb3be;
          max-width: 235px;
          font-size: 18px;
          line-height: 26px;
          letter-spacing: 0.7px;
          font-weight: 400;
          text-align: center;
        }
      }
    }
    .image {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      max-width: 90%;
      height: 500px;
      margin: 0 auto;
    }
    .tags {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;
      p {
        font-size: 16px;
        font-weight: 400;
      }
    }
  }

  .react-multi-carousel-dot-list {
    gap: 4px;
    bottom: -10px;
    .react-multi-carousel-dot {
      button {
        background: #7c7c7c;
        width: 7px !important;
        height: 7px !important;
        border-radius: 50%;
        border: none;
        margin-right: 0;
      }
    }
    .react-multi-carousel-dot--active {
      button {
        background: #d9d9d9;
      }
    }
  }
  .react-multiple-carousel__arrow {
    display: none;
  }

  .custom-button-group {
    button {
      position: absolute;
      top: 50%;
      transform: translateY(-100%);
      background: transparent;
      border: none;
      cursor: pointer;
      padding: 12px;
      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }
    }
    button:nth-child(1) {
      left: -20px;
    }
    button:nth-child(2) {
      right: -20px;
    }
  }
}

@media screen and (max-width: $big-break) {
  .home-projects {
    .project-item {
      padding: 0;
      .numbers {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 30px;
        margin: 40px 0 60px;
        .number-item {
          gap: 6px;
          &-number {
            font-size: 24px !important;
          }
          .additional-text {
            p {
              font-size: 22px !important;
            }
          }
          .additional-text-top-left, .additional-text-top-right {
            width: 220px;
            left: -75px;
          }
          .additional-text-on-bottom {
            bottom: -20px;
          }
          .number-item-number {
            font-weight: 700 !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .home-projects {
    .project-item {
      .numbers {
        grid-template-columns: repeat(1, 1fr);
        .number-item > .additional-text {
          position: unset;
        }
      }
      .image {
        height: unset;
        max-height: 500px;
        min-height: 200px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .home-projects {
    .project-item {
      .tags {
        gap: 12px;
        p {
          font-size: 13px !important;
        }
      }
    }
  }
}

.home-projects {
  .project-item {
    .numbers {
      .number-item {
        .salary-additions-additional-text { // 1
          &-1 {
            @media screen and (max-width: $big-break) {
              left: -45px;
            }
          }
          &-3 {

          }
        }
        .employee-onboarding-additional-text { // 2
          &-1 {
            @media screen and (max-width: $big-break) {
              left: -85px;
            }
          }
          &-4 {
            bottom: -50px;
          }
        }
        .marketer-additional-text { // 3
          &-4 {
            max-width: 300px;
            .purple-arrow {
              bottom: -45px;
              right: 110px;
            }
            @media screen and (max-width: $big-break) {
              left: -100px
            }
          }
        }
        .digital-employee-additional-text { // 4
          &-1 {
            @media screen and (max-width: $big-break) {

            }
          }
        }
        .myco-additional-text { // 5
          &-2 {
            .purple-arrow {
              left: 40px;
            }
            @media screen and (max-width: $big-break) {
              left: unset;
              right: -50px;
            }
          }
          &-3 {
            bottom: -50px;
          }
        }
        .beacon-additional-text { // 6
          &-1 {
            @media screen and (max-width: $big-break) {

            }
          }
        }
        .engineering-permits-division-additional-text { // 7
          &-1 {
            @media screen and (max-width: $big-break) {
              top: -50px;
              left: -60px;
            }
          }
          &-3 {
            right: -60px;
            .purple-arrow {
              bottom: -40px;
              right: 120px;
            }
            @media screen and (max-width: $big-break) {
              top: -22px;
              left: unset;
              right: -127px;
            }
          }
        }
        .automated-reports-additional-text { // 8
          &-1 {
            .purple-arrow {
              left: 25px;
            }
          }
          &-4 {
            right: -40px;
            max-width: 300px;
            .purple-arrow {
              right: 60px;
              bottom: -40px;
            }
            @media screen and (max-width: $big-break) {
              width: 250px;
              top: -60px;
              right: -127px;
            }
          }
        }
        .app-dx-additional-text { // 9
          &-1 {
            @media screen and (max-width: $big-break) {

            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $first-break) {
  .home-projects {
    .project-item {
      .numbers {
        .number-item {
          .additional-text {
            display: none;
          }
        }
      }
    }
  }
}
