@use '../../../styles/colors' as *;

.home-projects {
  position: relative;
  padding-bottom: 30px;
  .project-item {
    position: relative;
    flex: 1 1 30%;
    flex: none;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    margin: 0 10px;
    .additional-text-above-numbers {
      position: absolute;
      top: 0;
      left: 0;
      color: #de82ff;
      max-width: 265px;
    }
    .purple-arrow-to-right {
      position: absolute;
      top: 115px;
      left: -20px;
      transform: translateY(-50%) rotate(12deg);
    }
    .title {
      text-align: center;
      color: #ebabff;
      font-weight: 500;
      text-transform: uppercase;
    }
    .numbers {
      margin: 60px 0;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 12px;
      .number-item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        .additional-text-on-bottom, .additional-text-top-left, .additional-text-top-right {
          position: absolute;
          p {
            color: #de82ff;
            font-family: 'Caveat', sans-serif;
            font-size: 23px;
          }
        }
        .additional-text-on-bottom {
          bottom: -30px;
          left: 50%;
          transform: translateX(-50%);
          width: 250px;
          p {

          }
        }
        .additional-text-top-left {
          top: -30px;
          p {

          }
        }
        .additional-text-top-right {
          top: -30px;
          p {

          }
        }
        &-number {
          font-size: 38px;
          font-weight: 800;
          color: #fcf0ff;
        }
        &-text {
          color: #bcb3be;
          max-width: 235px;
          font-size: 18px;
          line-height: 26px;
          letter-spacing: 0.7px;
          font-weight: 400;
          text-align: center;
        }
      }
    }
    .image {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      max-width: 90%;
      height: 500px;
      margin: 0 auto;
    }
    .tags {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;
      p {
        font-size: 16px;
        font-weight: 400;
      }
    }
  }

  .react-multi-carousel-dot-list {
    gap: 4px;
    bottom: -10px;
    .react-multi-carousel-dot {
      button {
        background: #7c7c7c;
        width: 7px !important;
        height: 7px !important;
        border-radius: 50%;
        border: none;
        margin-right: 0;
      }
    }
    .react-multi-carousel-dot--active {
      button {
        background: #d9d9d9;
      }
    }
  }
  .react-multiple-carousel__arrow {
    display: none;
  }

  .custom-button-group {
    button {
      position: absolute;
      top: 50%;
      transform: translateY(-100%);
      background: transparent;
      border: none;
      cursor: pointer;
      padding: 12px;
      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }
    }
    button:nth-child(1) {
      left: -20px;
    }
    button:nth-child(2) {
      right: -20px;
    }
  }
}

@media screen and (max-width: 1100px) {
  .home-projects {
    .custom-button-group {
      button:nth-child(1) {
        left: -30px;
      }
      button:nth-child(2) {
        right: -30px;
      }
    }
    .project-item {
      padding: 0;
      .numbers {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin: 40px 0;
        .number-item {
          gap: 6px;
          .additional-text-on-bottom {
            bottom: -20px;
          }
          .number-item-number {
            font-weight: 600 !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .home-projects {
    .project-item {
      .image {
        height: unset;
        max-height: 500px;
        min-height: 200px;
      }
    }
    .custom-button-group {
      display: none;
      //button:nth-child(1) {
      //  left: -15px;
      //}
      //button:nth-child(2) {
      //  right: -15px;
      //}
    }
  }
}

@media screen and (max-width: 500px) {
  .home-projects {
    .project-item {
      .tags {
        gap: 12px;
        p {
          font-size: 13px !important;
        }
      }
    }
  }
}
