@use 'src/styles/_colors.scss' as *;

.contact-form {
  max-width: 700px;
  margin: 0 auto;
  .form-element {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 700px;
    margin-top: 75px;
    input {
      width: 100%;
      background: #292929;
      border: 1px solid #dee4ea;
      font-size: 20px;
      font-weight: 500;
      box-sizing: border-box;
      padding: 27px 8px;
    }
    .error-message, .success-message {
      position: absolute;
      bottom: -22px;
      font-size: 14px;
    }
    .success-message {
      color: $success-green;
    }
    .error-message {
      color: $error-red;
    }
  }
  .main-btn {
    margin-top: 40px;
    padding: 16px;
    width: 250px;
  }
  .ant-spin-dot {
    font-size: 24px;
  }
}

@media screen and (max-width: 1100px) {
  .contact-form {
    h3 {
      font-weight: 700 !important;
      font-size: 32px !important;
    }
  }
}

@media screen and (max-width: 600px) {
  .contact-form {
    .form-element {
      margin-top: 40px;
    }
    .main-btn {
      //padding: 6px;
    }
  }
}
